main {
    min-height: 80vh;
    padding-top: 0;
}
.price {
    margin: 1rem ;
}
.card img {
    border: 0;
}
.navbar, footer {
    background-color: #29aafe;
}
.navbar-nav {
    text-align: end;
}
.navbar-brand {
    width: 20%;
}
.navlogo {
    width: 100%;
}

.outofstock {
    color: red;
}
.navbar-dark .navbar-nav .nav-link {
    color: #DCEAEA;
}

#basic-navbar-nav {
    font-size: 0.9rem;
}

.product_title {
   font-size: 1rem;
    text-align: center;
}

.product_rating {
    text-align: end;
}
.product_price {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}
.product_left {
    text-align: center;
    color: red;
    font-weight: 700;
    font-size: 0.8rem;
}

.list-group-item {
    border: none;
}

.promo {
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 1px;
}

.search_button {
    padding: 8px;
}

.carousel {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.title,
.home_title
{
    font-size: 30px;
    color: #29aafe;
    line-height: 1.6;
    margin: 4rem 0;
}
.textp:before,
.textp:after {
    content: '';
    width: 19%;
    border-bottom: 1px solid darkgrey;
    display: inline-block;
    vertical-align: middle;
    margin: 0 50px;
}

.carousel-subtitle {
    color: white;
    font-size: 2rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.price {
    font-size: 3rem;
    font-weight: 900;
}

.instock, .outstock {
    font-size: 1rem;
    font-weight: 900;
}
.instock {
    color: mediumseagreen;
}

.outstock {
    color: red;
}

.ratings {
    margin-top: 7rem;
}

.ratings_title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

footer a {
    color: white;
}

.error404 {
    width: 60%;
    margin: 0 auto;
}

.social-icons a {
    background-color:#eceeef;
    color:#29aafe;
    font-size:12px;
    display:inline-block;
    width:40px;
    height:40px;
    text-align:center;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover{
    color:#fff;
    background-color:#29aafe
}

.social-icons a.facebook:hover{
    background-color:#3b5998
}
.social-icons a.twitter:hover{
    background-color:#00aced
}
.social-icons a.linkedin:hover{
    background-color:#007bb6
}
.social-icons a.instagram:hover{
    background-color:#ea4c89
}

footer .btn-sm {
    padding: 0.5rem 0rem;
}

.fa-hotjar {
    color: firebrick;
}

.bandeau {
    background-color: #C8EAFF;
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
    color: #00aced;
    text-transform: uppercase;
    padding: 10px;
}

.banner-body{
    position:relative;
    margin-top: 10px;
    animation-name: fadeUp;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    display:flex;
    justify-content:center;
    align-items: center;
}

.bandeau-new{
    position:relative;
    margin: 0 10px;
    color: darkblue;
    animation-duration: 10s;
    animation-name: spanNew;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    font-weight: 900;
}
.bandeau-text{
    position:relative;
    margin: 0 10px;
    animation-duration: 10s;
    animation-name: spanText;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}


@keyframes truck {
    0% {
        left:-40px;
        opacity:0;
    }
    6%, 100% {
        left:0;
        opacity:1;
    }
}


@keyframes spanNew {
    0%, 5%{
        left:-30px;
        opacity:0;
    }
    15%{
        left:0;
        opacity:1;
    }
}

@keyframes spanText {
    0%, 10% {
        top:-20px;
        opacity:0;
    }
    20% {
        top:0;
        opacity:1;
    }
}


@keyframes fadeUp {
    0% {
        opacity:0;
    }
    10%, 90%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}







/*Responsive */

@media screen and (max-width: 360px) {
    .navlogo {
        width: 80%;
    }
    .textp:before, .textp:after {
        display: none;
    }
}


@media screen and (max-width: 1024px) {
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }
    .home_title {
        margin: 5rem 0 1rem 0;
        font-size: 1.5rem;
    }
    .textp:before, .textp:after {
        width: 10%;
    }
    .header_cart {
        margin-right: 7%;
    }
}


@media screen and (max-width: 768px) {

    .navbar-brand {
        width: 50%;
    }
    .navlogo {
        width: 80%;
    }
    .search_product {
        width: 70%;
        margin: 20px 0;
    }
    .product_title {
        font-size: 1.5rem;
        text-align: center;
    }
    .product_price {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
    }
    .product_left {
        text-align: center;
        color: red;
        font-weight: 700;
        font-size: 1rem;
    }
    .home_title {
        margin: 5rem 0 1rem 0;
        font-size: 1rem;
        text-align: center;
    }
    .textp:before, .textp:after {
        margin: 30px;
        width: 13%;
    }

    .home_carousel {
        display: none;
    }
    .product_name,
    .product_addtocart {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {

    .textp:before, .textp:after {
        width: 20%;
    }
}

@media screen and (min-width: 360px) and (max-width: 530px) {

    .textp:before, .textp:after {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {

    .textp:before, .textp:after {
        width: 16%;
    }
}