main {
    min-height: 80vh;
}
.price {
    margin: 1rem ;
}
.card img {
    border: 0;
}
.navbar {
    background-color: #1EB6CB;
}
.navbar-nav {
    text-align: end;
}
.navbar-brand {
    width: 60%;
}
.navlogo {
    width: 30%;
}
.outofstock {
    color: red;
}
.navbar-dark .navbar-nav .nav-link {
    color: #DCEAEA;
}

.product_title {
   font-size: 1rem;
    text-align: center;
}

.product_rating {
    text-align: end;
}
.product_price {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}
.product_left {
    text-align: center;
    color: red;
    font-weight: 700;
    font-size: 0.8rem;
}

.list-group-item {
    border: none;
}
.add-to-card {
    background-color: #1EB6CB;
    font-size: 1rem;
}
.promo {
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 1px;
}


/*Responsive */

@media screen and (max-width: 1024px) {
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .navlogo {
        width: 60%;
    }
    .product_title {
        font-size: 1.5rem;
        text-align: center;
    }
    .product_price {
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
    }
    .product_left {
        text-align: center;
        color: red;
        font-weight: 700;
        font-size: 1rem;
    }
}
@media screen and (max-width: 360px) {
    .navlogo {
        width: 80%;
    }
}